*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../src/All images/login_page_bg3.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#Main_div{
    width: 400px;
    height: 900px;
    background-color: aqua;
}